$body-color: #fafafa;
$header-height: 75px;
$main-color: #FFB5C6;
$main-hover-color: #FCDFE5;
$sub-color: #63714d;
$sub-hover-color: #e2e9d4;
$black-color: #000;
$black-hover-color: #777;
$border-color: #e5e5e5;
$gray-color: #aaa;
$container-width: 720px;
$footer-color: #f6f6f6;

h1 {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  color: $black-hover-color;
  font-size: 32px;
  letter-spacing: 2px;
}

.works {
  .work {
    display: block;
    position: relative;
    .work-image {
      display: block;
      width: 50%;
      &.left {
        margin-right: 50%;
      }
      &.right {
        margin-left: 50%;
      }
    }
    .work-description {
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 50%;
      height: 66px;
      &.right {
        right: 0;
      }
      &.left {
        left: 0;
      }
    }
    .work-name {
      line-height: 1.5em;
      color: $main-color;
      font-size: 24px;
      text-align: center;
      letter-spacing: 2px;
    }
    .work-role {
      line-height: 1.5em;
      color: $black-hover-color;
      font-size: 20px;
      text-align: center;
    }
  }
}

.skills {
  h2 {
    padding-left: 16px;
    font-size: 20px;
    color: $gray-color;
    letter-spacing: 2px;
  }
  .skill-pool {
    margin-bottom: 16px;
  }
  .skill {
    float: left;
    padding: 16px;
    width: 20%;
  }
}

.work-summary {
  display: inline-block;
  float: left;
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 50px;
  width: 50%;
  .work-title {
    font-size: 40px;
  }
  .work-says {
    font-size: 16px;
    color: $black-hover-color;
  }
  .work-period {
    font-size: 16px;
    color: $gray-color;
  }
  .work-page {
    font-size: 16px;
  }
}

.work-results {
  padding-right: 50px;
  padding-left: 25px;
  height: 100%;
  overflow-y: auto;
  .work-result {
    padding: 16px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .work-summary {
    display: block;
    float: none;
    padding-left: 25px;
    width: 100%;
  }
  .work-results {
    padding: 0;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    height: auto;
    overflow-y: visible;
  }


  .works {
    .work {
      .work-image {
        padding: 16px;
        width: 100%;
      }
      .work-description {
        position: relative;
        padding: 16px;
        width: 100%;
        height: auto;
      }
    }
  }

  .skills {
    .skill {
      width: 33.333%;
    }
  }
}
