<%- include ../layouts/header %>
<%- include ../commons/header %>
<div id="body-container" class="clearfix">
<div id="get-insta-feed"></div>
</div>
<%- include ../commons/footer %>
<% if (mode === 'development') { %>
<script src="/js/instafeed.js" defer="defer"></script>
<% } else { %>
<script src="/js/instafeed.min.js" defer="defer"></script>
<% } %>
<%- include ../layouts/footer %>

