<%- include ../layouts/header %>
<%- include ../commons/header %>
<div id="body-container">
  <h1>Selfie with Java Script</h1>
  <div class="clearfix" id="playground">
    <button class="rm-style-button btn btn-primary" id="shutter">촬영</button>
    <button class="rm-style-button btn btn-primary" id="remove-selfie">삭제</button>
  </div>
</div>
<%- include ../commons/footer %>
<script src="/js/lib/selfie.js"></script>
<%- include ../layouts/footer %>

