<ins class="adsbygoogle"
     data-ad-client="ca-pub-1777052704513089"
     data-ad-slot="9098726054"
     data-ad-format="auto"></ins>
<footer id="footer">
  <ul class="list-layout list-sns">
    <li><a target="_blank" href="https://www.facebook.com/j1.chic"><i class="fa fa-facebook black-color"></i></a></li>
    <li><a target="_blank" href="https://www.instagram.com/1000000000000._.won/"><i class="fa fa-instagram black-color"></i></a></li>
    <li><a target="_blank" href="https://github.com/wonism"><i class="fa fa-github black-color"></i></a></li>
  </ul>
  <div class="copyright pull-right">
    &copy;Jaewonism
  </div>
</footer>

