<h1 class="invisible"><%= title %>, Github, Front-end, Back-end, Web Developer, 웹 개발자, 프론트 엔드, 개발자, 백 엔드, Node JS, Express JS, Ruby On Rails</h1>
<header id="header">
  <a class="left-menu" href="/">
    <img class="header-logo" src="/images/new_logo_black.png" alt="logo"/>
  </a>
  <ul class="list-layout list-menu">
    <li><a href="/">HOME</a></li>
    <li><a href="/posts">POST</a></li>
    <li><a href="/photos">PHOTO</a></li>
    <li><a href="/portfolio">PORTFOLIO</a></li>
    <li><a href="/resume">RESUME</a></li>
    <% if (userId) { %>
    <li><a href="/posts/new">WRITE</a></li>
    <% } %>
  </ul>
  <% if (userId) { %>
  <div class="right-menu">
    <a class="logout" href="/logout">LOGOUT</a>
  </div>
  <% } else { %>
  <div class="none">
    <form action="/login" method="post" enctype="multipart/form-data">
      <input type="text" name="email" id="" value="jaewon"/>
      <input type="password" name="password" id="" value="jaewon"/>
      <input type="submit"/>
    </form>
  </div>
  <div class="right-menu">
    <a class="join" href="/join">JOIN</a>
    <a class="login" href="/login">LOGIN</a>
  </div>
  <% } %>
  <div class="hamburger">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>
</header>
<%- include ./navigator %>

