*, *:before, *:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section, header, footer, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-size: inherit !important;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  html body {
    position: relative;
    background-color: #f8f8f8;
    font-size: 62.5% !important; }

h1 {
  font-size: 32px;
  margin: .67em 0; }

h2 {
  font-size: 24px;
  margin: .75em 0; }

h3 {
  font-size: 20px;
  margin: .83em 0; }

h4 {
  font-size: 16px;
  margin: 1.12em 0; }

h4 {
  font-size: 16px;
  margin: 1.12em 0; }

h5 {
  font-size: 12px;
  margin: 1.5em 0; }

h6 {
  font-size: 11px;
  margin: 1.67em 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input[type="checkbox"], input[type="radio"], input[type="search"] {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type=checkbox], input[type=radio] {
  display: none; }

label.checkbox, label.radio {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
  label.checkbox .button, label.radio .button {
    display: inline-block;
    width: 20px;
    height: 20px; }

label.radio .button {
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

input[type=checkbox] + label.checkbox .button, input[type=radio] + label.radio .button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 2px solid #367ABD; }
  input[type=checkbox] + label.checkbox .button:after, input[type=radio] + label.radio .button:after {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 12px;
    height: 6px;
    line-height: 1;
    border-width: 3px;
    border-style: solid;
    border-top: none;
    border-right: none;
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: ""; }

input[type=radio] + label.radio .button:after {
  width: 10px;
  height: 10px;
  background-color: #367ABD;
  border: none;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

input[type=checkbox] + label.checkbox:hover .button, input[type=radio] + label.radio:hover .button {
  border-color: #4CB2D4; }
  input[type=checkbox] + label.checkbox:hover .button:after, input[type=radio] + label.radio:hover .button:after {
    display: inline-block;
    border-color: #4CB2D4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -o-opacity: 0.3;
    -mx-opacity: 0.3;
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    -webkit-opacity: 0.3;
    opacity: 0.3; }

input[type=radio] + label.radio:hover .button:after {
  background-color: #4CB2D4; }

input[type=checkbox]:checked + label.checkbox .button, input[type=radio]:checked + label.radio .button {
  border-color: #ec4a94; }
  input[type=checkbox]:checked + label.checkbox .button:after, input[type=radio]:checked + label.radio .button:after {
    display: inline-block;
    border-color: #ec4a94;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -o-opacity: 1;
    -mx-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1; }

input[type=radio]:checked + label.radio .button:after {
  background-color: #ec4a94; }

input[type=checkbox]:checked + label.checkbox:hover .button, input[type=radio]:checked + label.radio:hover .button {
  border-color: #ec4a94; }
  input[type=checkbox]:checked + label.checkbox:hover .button:after, input[type=radio]:checked + label.radio:hover .button:after {
    display: inline-block;
    border-color: #ec4a94;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -o-opacity: 0.3;
    -mx-opacity: 0.3;
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    -webkit-opacity: 0.3;
    opacity: 0.3; }

input[type=radio]:checked + label.radio:hover .button:after {
  background-color: #ec4a94; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -o-appearance: button;
  -ms-appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer; }

.rm-style-input, .rm-style-select {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 34px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.rm-style-file {
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -o-opacity: 0;
  -ms-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  z-index: 3; }

.none {
  display: none !important; }

.invisible {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.rm-style-button {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: transparent;
  border: 0;
  outline: none;
  -o-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.rm-margin {
  margin: 0 !important; }

.rm-padding {
  padding: 0 !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.space-top {
  margin-top: 16px; }

.space-right {
  margin-right: 16px; }

.space-bottom {
  margin-bottom: 16px; }

.space-left {
  margin-left: 16px; }

.divide-line {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 64px;
  width: 40px;
  border-bottom: 4px solid #000; }

.flash {
  display: none !important;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: .5em;
  width: 400px;
  height: 2.5em;
  line-height: 1.5em;
  background-color: #fff;
  font-size: 14px;
  z-index: 7; }

.flash-back {
  display: none !important;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5; }

.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -o-opacity: 0;
  -mx-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0; }

.opacity-3 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -o-opacity: 0.3;
  -mx-opacity: 0.3;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3; }

.not-transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -o-opacity: 1;
  -mx-opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1; }

a {
  color: #367ABD;
  border-color: #367ABD;
  text-decoration: blink; }
  a.active {
    color: #4CB2D4;
    border-color: #4CB2D4; }
    a.active .sub-color {
      color: #2A385F;
      border-color: #2A385F; }
    a.active .black-color {
      color: #777;
      border-color: #777; }
    a.active .normal-color {
      color: #000;
      border-color: #000; }
  a:focus, a:visited {
    color: #367ABD;
    border-color: #367ABD;
    text-decoration: blink; }
    a:focus .sub-color, a:visited .sub-color {
      color: #30499B;
      border-color: #30499B; }
    a:focus .black-color, a:visited .black-color {
      color: #000;
      border-color: #000; }
    a:focus .normal-color, a:visited .normal-color {
      color: #000;
      border-color: #000; }
  a:hover, a:active {
    color: #4CB2D4;
    border-color: #4CB2D4;
    text-decoration: blink; }
    a:hover .sub-color, a:active .sub-color {
      color: #2A385F;
      border-color: #2A385F; }
    a:hover .black-color, a:active .black-color {
      color: #777;
      border-color: #777; }
    a:hover .normal-color, a:active .normal-color {
      color: #000;
      border-color: #000; }
  a .sub-color {
    color: #30499B;
    border-color: #30499B; }
  a .black-color {
    color: #000;
    border-color: #000; }
  a .normal-color {
    color: #000;
    border-color: #000; }

.clearfix, .clearfix:before, .clearfix:after {
  display: block;
  content: '';
  clear: both; }

.hamburger {
  display: inline-block;
  float: right;
  margin: 0;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
  color: inherit;
  background-color: transparent;
  border: 0;
  text-transform: none;
  cursor: pointer;
  overflow: visible;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter; }
  .hamburger:hover {
    opacity: .7; }
  .hamburger .hamburger-box {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 24px; }
    .hamburger .hamburger-box .hamburger-inner {
      display: block;
      position: absolute;
      top: 2px;
      margin-top: -2px;
      width: 40px;
      height: 4px;
      background-color: #555;
      border-radius: 4px;
      transition-timing-function: cubic-bezier(0.7, -0.5, 0.3, 1.5);
      transition-duration: .4s;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform,-webkit-transform; }
      .hamburger .hamburger-box .hamburger-inner:before, .hamburger .hamburger-box .hamburger-inner:after {
        display: block;
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: #555;
        border-radius: 4px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform,-webkit-transform;
        content: ''; }
      .hamburger .hamburger-box .hamburger-inner:before {
        top: 10px;
        transition: opacity .15s .4s ease; }
      .hamburger .hamburger-box .hamburger-inner:after {
        top: 20px;
        transition: -webkit-transform 0.4s cubic-bezier(0.7, -0.5, 0.3, 1.5);
        transition: transform 0.4s cubic-bezier(0.7, -0.5, 0.3, 1.5);
        transition: transform 0.4s cubic-bezier(0.7, -0.5, 0.3, 1.5), -webkit-transform 0.4s cubic-bezier(0.7, -0.5, 0.3, 1.5); }
  .hamburger.active .hamburger-box .hamburger-inner {
    transition-delay: .1s;
    -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
    transform: translate3d(0, 10px, 0) rotate(135deg); }
    .hamburger.active .hamburger-box .hamburger-inner:before {
      transition-delay: 0s;
      opacity: 0; }
    .hamburger.active .hamburger-box .hamburger-inner:after {
      transition-delay: .1s;
      -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
      transform: translate3d(0, -20px, 0) rotate(-270deg); }

.top-slider {
  width: 100%; }
  .top-slider img {
    display: block;
    width: 100%;
    height: auto; }

#header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  z-index: 99;
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  #header.root-header {
    position: relative; }
  #header .header-logo {
    padding: 10px;
    width: auto;
    height: 75px;
    float: left; }
  #header .hamburger {
    display: none; }
  #header .login, #header .join, #header .logout {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 75px;
    font-size: 1.4em;
    letter-spacing: 2px; }

.left-menu {
  position: absolute;
  top: 0;
  left: 0; }

.right-menu {
  position: absolute;
  top: 0;
  right: 16px; }

ul.list-layout {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside; }
  ul.list-layout li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 2px; }

ul.list-menu {
  font-size: 1.4em;
  line-height: 75px; }

.dashed-line {
  margin-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px dashed #e5e5e5; }

#slide-navigator {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  z-index: 111;
  transition-timing-function: linear;
  transition-duration: .5s;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter; }
  #slide-navigator.visible {
    opacity: 1; }
  #slide-navigator ul.list-layout {
    padding-top: 4em;
    padding-left: 3em;
    line-height: 2em;
    font-size: 25px; }
    #slide-navigator ul.list-layout li {
      display: block;
      padding: 0; }
  #slide-navigator .join, #slide-navigator .login, #slide-navigator .logout {
    padding-left: 3em;
    line-height: 2em;
    font-size: 25px; }

#body-container {
  position: relative;
  padding-top: 90px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 48px;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 720px;
  min-height: 100vh; }
  #body-container.fix-in {
    top: 0;
    padding-top: 75px;
    padding-bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 100vh; }

ul.list-layout.pagination {
  position: absolute;
  bottom: 16px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  text-align: center; }
  ul.list-layout.pagination li.active a {
    color: #777 !important; }
  ul.list-layout.pagination li.ellipsis {
    padding: 0; }

#footer {
  display: block;
  position: relative;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  background-color: #f6f6f6;
  border-top: 1px solid #e5e5e5; }
  #footer .fa {
    line-height: 1;
    font-size: 20px; }
  #footer .copyright {
    color: #777;
    line-height: 20px;
    font-size: 14px; }

.btn {
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -o-touch-action: manipulation;
  -ms-touch-action: manipulation;
  -moz-touch-action: manipulation;
  -webkit-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .btn.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc; }
  .btn.btn-ghost {
    color: #333;
    border-color: #ccc; }
    .btn.btn-ghost:focus, .btn.btn-ghost:hover, .btn.btn-ghost:active {
      color: #333; }
    .btn.btn-ghost:hover {
      color: #e5e5e5; }
  .btn.btn-primary {
    color: #367ABD;
    background-color: #fff;
    border-color: #4CB2D4; }
    .btn.btn-primary:focus, .btn.btn-primary:hover, .btn.btn-primary:active {
      background-color: #4CB2D4; }
  .btn.btn-primary-reverse {
    color: #fff;
    background-color: #367ABD;
    border-color: #4CB2D4; }
    .btn.btn-primary-reverse:focus, .btn.btn-primary-reverse:hover, .btn.btn-primary-reverse:active {
      background-color: #4CB2D4; }
  .btn.btn-radius {
    -ms-border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em; }

@media screen and (max-width: 768px) {
  #header .list-menu {
    display: none; }
  #header .right-menu {
    display: none; }
  #header .hamburger {
    display: block; }
  #slide-navigator.active {
    display: block; }
  #slide-navigator .hamburger {
    display: block; } }

.adsbygoogle {
  display: block;
  margin: auto;
  width: 320px;
  height: 100px; }

@media (min-width: 500px) {
  .adsbygoogle {
    width: 468px;
    height: 60px; } }

@media (min-width: 800px) {
  .adsbygoogle {
    width: 728px;
    height: 90px; } }
