#login-form {
  padding-top: 32px;
  padding-left: 16px; }
  #login-form .form-control {
    position: relative;
    max-width: 260px; }

div.login-form {
  padding-left: 16px; }

.oauth-login {
  display: block;
  margin-bottom: .6em;
  width: 100%;
  max-width: 260px;
  height: 2.4em;
  line-height: 2.4em;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  clear: both; }

.default-input {
  margin-top: 3px;
  width: 100%;
  max-width: 260px;
  line-height: 1.7em;
  font-size: 13px; }

.form-control {
  margin-bottom: 10px; }
  .form-control label {
    font-size: 13px;
    letter-spacing: 2px; }
  .form-control span {
    position: absolute;
    right: 0;
    color: #E63948; }
