@charset "UTF-8";
.post {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden; }

.post-title {
  font-size: 36px;
  color: #333;
  cursor: pointer;
  overflow: hidden; }
  .post-title:active, .post-title:visited, .post-title:focus {
    color: #333; }
  .post-title:hover {
    color: #367ABD; }
  .post-title .title {
    margin-bottom: 4px;
    font-weight: 400; }

.post-summary {
  color: #777;
  font-size: 12px;
  overflow: hidden; }
  .post-summary .fa {
    margin-right: 2px; }

.content {
  margin-bottom: 10px;
  color: #666;
  font-size: 16px;
  font-weight: 200;
  overflow: hidden; }

.category-name {
  display: inline-block;
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.1em;
  color: #777 !important;
  font-size: 12px;
  border-bottom: 1px solid #777; }

.post-writed {
  line-height: 1.1em;
  border-bottom: 1px solid transparent; }

.post-background-preview {
  position: relative;
  margin-top: 75px; }
  .post-background-preview .guide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 13px;
    text-align: center;
    z-index: 3; }
  .post-background-preview img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 5; }
    .post-background-preview img[src=''] {
      display: block;
      position: relative;
      padding: 20.93%;
      height: 0;
      line-height: 2;
      font-weight: 300;
      text-align: center;
      z-index: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -o-opacity: 0;
      -ms-opacity: 0;
      -moz-opacity: 0;
      -khtml-opacity: 0;
      -webkit-opacity: 0;
      opacity: 0; }
  .post-background-preview input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20.93%;
    width: 100%;
    height: 0;
    line-height: 2;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    z-index: 9; }

#post .category {
  color: #333;
  font-size: 16px; }

#post .title {
  margin-bottom: 40px;
  font-size: 4em; }
  #post .title .created-at {
    font-size: .3em;
    letter-spacing: 1px; }

#post .html {
  max-width: 100%;
  font-size: 14px;
  overflow-x: hidden; }

#post .managing-buttons {
  margin-top: 32px; }

.html p {
  margin-top: .5em;
  margin-bottom: .5em; }

.tags {
  margin-top: 32px;
  font-size: 12px; }
  .tags span.tag {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    line-height: 1.5em;
    color: #333;
    font-size: 12px;
    letter-spacing: 1px; }
  .tags input {
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
    line-height: 1.5em;
    font-size: 12px; }
  .tags a.tag {
    display: inline-block;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px; }

#comments {
  margin-top: 24px; }
  #comments #comments-title {
    margin-top: 16px;
    color: #777;
    font-size: 16px;
    letter-spacing: 2px; }
    #comments #comments-title span {
      color: #30499B; }

#comment-area-wrapper {
  display: block;
  position: relative;
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
  height: 6em;
  font-size: 14px; }
  #comment-area-wrapper #comment-area {
    display: block;
    padding: .5em;
    width: 100%;
    height: 6em;
    font-size: 14px;
    border-color: #367ABD;
    resize: none; }
    #comment-area-wrapper #comment-area[disabled="disabled"] {
      font-weight: 400;
      color: #ccc; }
  #comment-area-wrapper button {
    position: absolute;
    bottom: 5px;
    right: 5px; }

.comment-infos {
  margin-bottom: 1em;
  padding-bottom: 1em;
  color: #777;
  font-size: 13px;
  border-bottom: 1px solid #e5e5e5; }
  .comment-infos .comment-user {
    color: #30499B;
    font-weight: 500; }
  .comment-infos .comment-date {
    color: #ccc; }

form #title {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  line-height: 1.7em;
  font-size: .5em; }

form textarea {
  display: block;
  padding: .5em;
  width: 100%;
  height: 20em;
  border-color: #e5e5e5;
  font-size: 14px;
  resize: none; }

.post-thumbnail-preview {
  position: relative;
  width: 125px;
  height: 125px; }
  .post-thumbnail-preview * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .post-thumbnail-preview .guide {
    z-index: 3; }
  .post-thumbnail-preview .thumbnail-image {
    width: 125px;
    height: 125px;
    z-index: 5; }
    .post-thumbnail-preview .thumbnail-image[src=''] {
      display: block;
      position: relative;
      z-index: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -o-opacity: 0;
      -ms-opacity: 0;
      -moz-opacity: 0;
      -khtml-opacity: 0;
      -webkit-opacity: 0;
      opacity: 0; }
  .post-thumbnail-preview #thumbnail-image {
    width: 125px;
    height: 125px;
    z-index: 9; }

.new-post-wrapper {
  padding-bottom: 16px;
  height: 52px; }
  .new-post-wrapper input, .new-post-wrapper select {
    width: 100%; }

.search-wrapper {
  position: relative;
  margin-bottom: 30px;
  padding-top: 16px;
  padding-bottom: 16px; }
  .search-wrapper input[type="text"], .search-wrapper select {
    width: 100%; }
  .search-wrapper i {
    position: absolute;
    top: 0;
    right: 22.5px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 34px;
    color: #aaa;
    font-size: 24px;
    cursor: pointer; }
    .search-wrapper i:hover {
      color: #e5e5e5; }

#body-container.show-post {
  padding-top: 75px; }

figure.highlight {
  margin: 0;
  max-width: 100%;
  overflow-x: auto; }

#main .main-body-header em,
#main .main-body-header a,
.article-date,
.article-tag-list,
.archive-year {
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  line-height: 1em;
  text-shadow: 0 1px #fff; }

.widget h1,
.article-entry h1 {
  font-size: 2em; }

.widget h2,
.article-entry h2 {
  font-size: 1.5em; }

.widget h3,
.article-entry h3 {
  font-size: 1.3em; }

.widget h4,
.article-entry h4 {
  font-size: 1.2em; }

.widget h5,
.article-entry h5 {
  font-size: 1em; }

.widget h6,
.article-entry h6 {
  font-size: 1em;
  color: #aaa; }

.widget hr,
.article-entry hr {
  border: 1px dashed #ddd; }

.widget strong,
.article-entry strong {
  font-weight: bold; }

.widget em,
.article-entry em,
.widget cite,
.article-entry cite {
  font-style: italic; }

.widget sup,
.article-entry sup,
.widget sub,
.article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

.widget sup,
.article-entry sup {
  top: -0.5em; }

.widget sub,
.article-entry sub {
  bottom: -0.2em; }

.widget small,
.article-entry small {
  font-size: 0.85em; }

.widget acronym,
.article-entry acronym,
.widget abbr,
.article-entry abbr {
  border-bottom: 1px dotted; }

.widget ul,
.article-entry ul,
.widget ol,
.article-entry ol,
.widget dl,
.article-entry dl {
  line-height: 1.6em; }

.widget ul ul,
.article-entry ul ul,
.widget ol ul,
.article-entry ol ul,
.widget ul ol,
.article-entry ul ol,
.widget ol ol,
.article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px; }

.widget ul,
.article-entry ul {
  list-style: disc;
  list-style-position: inside; }

.widget ol,
.article-entry ol {
  list-style: decimal;
  list-style-position: inside; }

.widget dt,
.article-entry dt {
  font-weight: bold;
  list-style-position: inside; }

::selection {
  color: #fff;
  background: #00bcd1; }

code {
  margin: 0 2px;
  color: #e96900;
  padding: 3px 5px;
  font-size: 0.8em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  background-color: #f8f8f8; }

#article-nav {
  position: relative; }

#article-nav:before,
#article-nav:after {
  content: "";
  display: table; }

#article-nav:after {
  clear: both; }

.article-nav-link-wrap {
  position: relative;
  margin-top: 0;
  display: block;
  color: #aaa;
  padding: 16px 40px 24px;
  border-bottom: 1px solid #ddd;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  text-align: center;
  text-decoration: none; }

.article-nav-link-wrap .icon {
  position: absolute;
  color: #ccc;
  font-size: 18px;
  top: 50%;
  width: 1em;
  margin-top: -10px; }

.article-nav-link-wrap #icon-chevron-left {
  left: 10px; }

.article-nav-link-wrap #icon-chevron-right {
  right: 10px; }

.article-nav-link-wrap:hover {
  background: rgba(0, 0, 0, 0.02); }

.article-nav-link-wrap:hover .icon {
  color: #00bcd1; }

.article-nav-caption {
  display: block;
  font-size: 12px;
  color: #aaa;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase; }

.article-nav-title {
  font-size: 15px;
  color: #666; }

.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #aaa;
  font-size: 0.85em; }

.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "("; }

.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")"; }

.tagcloud a {
  margin-right: 5px; }

.article-single {
  padding: 30px 30px 20px; }

.article-inner {
  overflow: hidden; }

.article-meta {
  height: 1.6em;
  line-height: 1.6em;
  overflow: hidden; }

.article-meta:before,
.article-meta:after {
  content: "";
  display: table; }

.article-meta:after {
  clear: both; }

.article-meta p {
  float: left;
  color: #bbb; }

.article-meta .category {
  text-transform: uppercase; }

.article-meta .category a,
.article-meta .category i {
  margin-right: 6px; }

.article-row {
  width: 100%;
  float: left;
  position: relative;
  padding: 30px 0px 0px 30px;
  border-bottom: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.article-row:before,
.article-row:after {
  content: "";
  display: table; }

.article-row:after {
  clear: both; }

.article-summary {
  width: 50%;
  float: left;
  margin-bottom: 30px; }

.article-summary a {
  text-decoration: none;
  color: #00bcd1; }

.article-summary .article-summary-inner {
  margin-right: 30px; }

.article-summary .article-summary-inner .thumbnail {
  height: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 47.11%; }

.article-summary .article-summary-inner .thumbnail .comment-counter {
  right: 0;
  top: 15px;
  color: #fff;
  font-size: 12px;
  padding: 2px 7px;
  line-height: 19px;
  position: absolute;
  display: inline-block;
  background-color: #82b965; }

.article-summary .article-summary-inner .thumbnail .comment-counter:before {
  top: 3px;
  left: -16px;
  content: '';
  position: absolute;
  display: inline-block;
  border: 9px solid transparent;
  border-right-color: #82b965; }

.article-summary .article-summary-inner .thumbnail .thumbnail-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in; }

.article-summary .article-summary-inner .thumbnail .thumbnail-none {
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-image: url("images/thumb-default.png"); }

.article-summary .article-summary-inner .article-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5em;
  word-wrap: break-word; }

.article-summary .article-summary-inner .article-title a {
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  color: #444; }

.article-summary .article-summary-inner .article-excerpt {
  position: relative;
  color: #aaa;
  font-size: 16px;
  line-height: 1.6em;
  overflow: hidden;
  height: 6.4em; }

.article-summary:hover .thumbnail .thumbnail-image {
  opacity: 0.7; }

.article-summary:hover .article-title a {
  color: #00bcd1; }

.article-category {
  float: left;
  line-height: 1em;
  color: #ccc;
  text-shadow: 0 1px #fff;
  margin-left: 8px; }

.article-category:before {
  content: "\2022"; }

.article-title {
  text-decoration: none;
  font-size: 38px;
  letter-spacing: -1px;
  color: #555;
  line-height: 1.3em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  margin-bottom: 10px; }

a.article-title:hover {
  color: #00bcd1; }

.article-tag-list {
  float: right; }

.article-tag-list:before,
.article-tag-list:after {
  content: "";
  display: table; }

.article-tag-list:after {
  clear: both; }

.article-tag-list:before {
  float: left;
  content: '\f02b';
  margin-right: 8px;
  font-family: FontAwesome; }

.article-tag-list-item {
  float: left;
  margin-right: 10px; }

.article-tag-list-link {
  color: #555;
  text-decoration: none; }

.article-tag-list-link:before {
  content: '#'; }

.article-entry {
  color: #555;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6em; }

.article-entry:before,
.article-entry:after {
  content: "";
  display: table; }

.article-entry:after {
  clear: both; }

.article-entry br {
  display: none; }

.article-entry p,
.article-entry table {
  margin: 1.6em 0; }

.article-entry p br,
.article-entry table br {
  display: block; }

.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: 600; }

.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.3em;
  margin: 1.3em 0; }

.article-entry a {
  color: #00bcd1;
  text-decoration: none; }

.article-entry a:hover {
  text-decoration: underline; }

.article-entry a.fancybox {
  display: block !important; }

.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em; }

.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto; }

.article-entry iframe {
  border: none; }

.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.article-entry th {
  font-weight: 600;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em; }

.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0; }

.article-entry blockquote {
  color: #777;
  quote: none;
  margin: 0 0 20px 0;
  position: relative;
  font-style: italic;
  padding-left: 50px; }

.article-entry blockquote:before {
  top: 0;
  left: 0;
  color: #ccc;
  font-size: 32px;
  content: "\f10d";
  position: absolute;
  text-align: center;
  font-style: normal;
  font-family: 'FontAwesome'; }

.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.6em 0;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif; }

.article-entry blockquote footer cite:before {
  content: "â€”";
  padding: 0 0.5em; }

.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0; }

.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em; }

.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em; }

.article-entry .caption {
  color: #aaa;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center; }

.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden; }

.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0; }

.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #eaeaea;
  color: #aaa;
  text-shadow: 0 1px #fff;
  text-decoration: none; }

.article-more-link a:hover {
  background: #00bcd1;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #0096a7; }

.article-footer {
  font-size: 14px;
  line-height: 1.6em;
  border-top: 1px solid #ddd;
  padding-top: 1.6em; }

.article-footer:before,
.article-footer:after {
  content: "";
  display: table; }

.article-footer:after {
  clear: both; }

.article-footer a {
  color: #aaa;
  text-decoration: none; }

.article-footer a:hover {
  color: #555; }

.article-comment-link i,
.article-share-link i {
  padding-right: 8px; }

.article-comment-link {
  float: right; }

.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px; }

.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1; }

.article-share-box.on {
  display: block; }

.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px "Titillium Web", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  padding: 0 15px;
  color: #555;
  outline: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px; }

.article-share-links {
  background: #eaeaea; }

.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table; }

.article-share-links:after {
  clear: both; }

.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-align: center;
  line-height: 36px;
  text-decoration: none; }

.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome; }

.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff; }

.article-share-twitter:before {
  content: "\f099"; }

.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe; }

.article-share-facebook:before {
  content: "\f09a"; }

.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a; }

.article-share-pinterest:before {
  content: "\f0d2"; }

.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f; }

.article-share-google:before {
  content: "\f0d5"; }

.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221; }

.article-gallery {
  background: #000;
  position: relative; }

.article-gallery-photos {
  position: relative;
  overflow: hidden; }

.article-gallery-img {
  display: none;
  max-width: 100%; }

.article-gallery-img:first-child {
  display: block; }

.article-gallery-img.loaded {
  position: absolute;
  display: block; }

.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

#comments {
  padding: 30px 30px 20px; }

#comments a {
  color: #00bcd1; }

.archives-wrap {
  margin: block-margin 0; }

.archives:before,
.archives:after {
  content: "";
  display: table; }

.archives:after {
  clear: both; }

.archive-year-wrap {
  padding: 18px 30px 17px;
  font-size: 16px;
  color: #666;
  border-bottom: 1px solid #eee; }

.archive-year i {
  margin-right: 8px; }

.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px; }

@media mq-tablet {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

@media mq-normal {
  .archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }

.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px; }

.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em; }

.archive-article-title:hover {
  color: #00bcd1; }

.archive-article-footer {
  margin-top: 1em; }

.archive-article-date {
  color: #aaa;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block; }

.highlight {
  margin: 0px;
  display: block;
  overflow-x: auto;
  padding: 15px 20px;
  font-size: 14px;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  line-height: 22.400000000000002px; }

.highlight table {
  margin: 0;
  width: auto; }

.highlight table td {
  border: none; }

.highlight table td.code {
  padding-right: 20px; }

.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px; }

.article-entry .highlight {
  margin: 1.6em 0; }

.article-entry .highlight .line {
  height: 1.6em; }

.highlight {
  color: #bababa;
  background: #2b2b2b; }

.highlight .code .strong,
.highlight .code .emphasis {
  color: #a8a8a2; }

.highlight .code .bullet,
.highlight .code .quote,
.highlight .code .link,
.highlight .code .number,
.highlight .code .regexp,
.highlight .code .literal {
  color: #6896ba; }

.highlight .code .code,
.highlight .code .selector-class {
  color: #a6e22e; }

.highlight .code .emphasis {
  font-style: italic; }

.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .section,
.highlight .code .attribute,
.highlight .code .name,
.highlight .code .variable {
  color: #cb7832; }

.highlight .code .params {
  color: #b9b9b9; }

.highlight .code .string,
.highlight .code .subst,
.highlight .code .type,
.highlight .code .built_in,
.highlight .code .builtin-name,
.highlight .code .symbol,
.highlight .code .selector-id,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .template-tag,
.highlight .code .template-variable,
.highlight .code .addition {
  color: #e0c46c; }

.highlight .code .comment,
.highlight .code .deletion,
.highlight .code .meta {
  color: #7f7f7f; }
