@import 'variables';

*, *:before, *:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section, header, footer, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: inherit !important;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  body {
    position: relative;
    background-color: #f8f8f8;
    font-size: 62.5% !important;
  }
}

h1 { font-size: 32px; margin: .67em 0; }
h2 { font-size: 24px; margin: .75em 0; }
h3 { font-size: 20px; margin: .83em 0; }
h4 { font-size: 16px; margin: 1.12em 0; }
h4 { font-size: 16px; margin: 1.12em 0; }
h5 { font-size: 12px; margin: 1.5em 0; }
h6 { font-size: 11px; margin: 1.67em 0; }

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input[type="checkbox"], input[type="radio"], input[type="search"] {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

label.checkbox, label.radio {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  @include userselect(none);
  .button {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}

label.radio .button {
  @include border-radius(50%);
}

input[type=checkbox] + label.checkbox, input[type=radio] + label.radio {
  .button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px solid $main-color;
    &:after {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 12px;
      height: 6px;
      line-height: 1;
      border-width: 3px;
      border-style: solid;
      border-top: none;
      border-right: none;
      @include transform(rotate(-45deg));
      content: "";
    }
  }
}

input[type=radio] + label.radio {
  .button {
    &:after {
      width: 10px;
      height: 10px;
      background-color: $main-color;
      border: none;
      @include border-radius(50%);
    }
  }
}

input[type=checkbox] + label.checkbox:hover, input[type=radio] + label.radio:hover {
  .button {
    border-color: $bright-main-color;
    &:after {
      display: inline-block;
      border-color: $bright-main-color;
      @include transparent(3);
    }
  }
}

input[type=radio] + label.radio:hover {
  .button:after {
    background-color: $bright-main-color;
  }
}

input[type=checkbox]:checked + label.checkbox, input[type=radio]:checked + label.radio {
  .button {
    border-color: $point-color;
    &:after {
      display: inline-block;
      border-color: $point-color;
      @include transparent(10);
    }
  }
}

input[type=radio]:checked + label.radio {
  .button:after {
    background-color: $point-color;
  }
}

input[type=checkbox]:checked + label.checkbox:hover, input[type=radio]:checked + label.radio:hover {
  .button {
    border-color: $point-color;
    &:after {
      display: inline-block;
      border-color: $point-color;
      @include transparent(3);
    }
  }
}

input[type=radio]:checked + label.radio:hover {
  .button:after {
    background-color: $point-color;
  }
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -o-appearance: button;
  -ms-appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}

.rm-style-input, .rm-style-select {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 34px;
  background-color: #fff;
  background-image: none;
  border: 1px solid $border-color;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.rm-style-file {
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -o-opacity: 0;
  -ms-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  z-index: 3;
}

.none {
  display: none !important;
}

.invisible {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rm-style-button {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: transparent;
  border: 0;
  outline: none;
  -o-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.rm-margin {
  margin: 0 !important;
}

.rm-padding {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.space-top {
  margin-top: 16px;
}

.space-right {
  margin-right: 16px;
}

.space-bottom {
  margin-bottom: 16px;
}

.space-left {
  margin-left: 16px;
}

.divide-line {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 64px;
  width: 40px;
  border-bottom: 4px solid $black-color;
}

.flash {
  display: none !important;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: .5em;
  width: 400px;
  height: 2.5em;
  line-height: 1.5em;
  background-color: #fff;
  font-size: 14px;
  z-index: 7;
}

.flash-back {
  display: none !important;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5;
}

.transparent {
  @include transparent(0);
}

.opacity-3 {
  @include transparent(3);
}

.not-transparent {
  @include transparent(10);
}

a {
  color: $main-color;
  border-color: $main-color;
  text-decoration: blink;
  &.active {
    color: $main-hover-color;
    border-color: $main-hover-color;
    .sub-color {
      color: $sub-hover-color;
      border-color: $sub-hover-color;
    }
    .black-color {
      color: $black-hover-color;
      border-color: $black-hover-color;
    }
    .normal-color {
      color: #000;
      border-color: #000;
    }
  }
  &:focus, &:visited {
    color: $main-color;
    border-color: $main-color;
    text-decoration: blink;
    .sub-color {
      color: $sub-color;
      border-color: $sub-color;
    }
    .black-color {
      color: $black-color;
      border-color: $black-color;
    }
    .normal-color {
      color: #000;
      border-color: #000;
    }
  }
  &:hover, &:active {
    color: $main-hover-color;
    border-color: $main-hover-color;
    text-decoration: blink;
    .sub-color {
      color: $sub-hover-color;
      border-color: $sub-hover-color;
    }
    .black-color {
      color: $black-hover-color;
      border-color: $black-hover-color;
    }
    .normal-color {
      color: #000;
      border-color: #000;
    }
  }
  .sub-color {
    color: $sub-color;
    border-color: $sub-color;
  }
  .black-color {
    color: $black-color;
    border-color: $black-color;
  }
  .normal-color {
    color: #000;
    border-color: #000;
  }
}

.clearfix, .clearfix:before, .clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.hamburger {
  display: inline-block;
  float: right;
  margin: 0;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
  color: inherit;
  background-color: transparent;
  border: 0;
  text-transform: none;
  cursor: pointer;
  overflow: visible;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  &:hover {
    opacity: .7;
  }
  .hamburger-box {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 24px;
    .hamburger-inner {
      display: block;
      position: absolute;
      top: 2px;
      margin-top: -2px;
      width: 40px;
      height: 4px;
      background-color: #555;
      border-radius: 4px;
      transition-timing-function: cubic-bezier(.7, -.5, .3, 1.5);
      transition-duration: .4s;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform,-webkit-transform;
      &:before, &:after {
        display: block;
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: #555;
        border-radius: 4px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform,-webkit-transform;
        content: '';
      }
      &:before {
        top: 10px;
        transition: opacity .15s .4s ease;
      }
      &:after {
        top: 20px;
        transition: -webkit-transform .4s cubic-bezier(.7, -.5, .3, 1.5);
        transition: transform .4s cubic-bezier(.7, -.5, .3, 1.5);
        transition: transform .4s cubic-bezier(.7, -.5, .3, 1.5),-webkit-transform .4s cubic-bezier(.7, -.5, .3, 1.5);
      }
    }
  }
  &.active {
    .hamburger-box {
      .hamburger-inner {
        transition-delay: .1s;
        -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
        transform: translate3d(0, 10px, 0) rotate(135deg);
        &:before {
          transition-delay: 0s;
          opacity: 0;
        }
        &:after {
          transition-delay: .1s;
          -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
          transform: translate3d(0, -20px, 0) rotate(-270deg);
        }
      }
    }
  }
}

.top-slider {
  width: 100%;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

#header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: #fff;
  border-bottom: 1px solid $border-color;
  text-align: center;
  z-index: 99;
  @include transform-translate3d(0, 0, 0);
  &.root-header {
    position: relative;
  }
  .header-logo {
    padding: 10px;
    width: auto;
    height: $header-height;
    float: left;
  }
  .hamburger {
    display: none;
  }
  .login, .join, .logout {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    line-height: $header-height;
    font-size: 1.4em;
    letter-spacing: 2px;
  }
}

.left-menu {
  position: absolute;
  top: 0;
  left: 0;
}

.right-menu {
  position: absolute;
  top: 0;
  right: 16px;
}

ul.list-layout {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 2px;
  }
}

ul.list-menu {
  font-size: 1.4em;
  line-height: $header-height;
}

.dashed-line {
  margin-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px dashed $border-color;
}

#slide-navigator {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  z-index: 111;
  transition-timing-function: linear;
  transition-duration: .5s;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  &.visible {
    opacity: 1;
  }
  ul.list-layout {
    padding-top: 4em;
    padding-left: 3em;
    line-height: 2em;
    font-size: 25px;
    li {
      display: block;
      padding: 0;
    }
  }
  .join, .login, .logout {
    padding-left: 3em;
    line-height: 2em;
    font-size: 25px;
  }
}

#body-container {
  position: relative;
  padding-top: $header-height-with-pad;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 48px;
  padding-right: 10px;
  padding-left: 10px;
  max-width: $container-width;
  min-height: 100vh;
  &.fix-in {
    top: 0;
    padding-top: $header-height;
    padding-bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 100vh;
  }
}

ul.list-layout.pagination {
  position: absolute;
  bottom: 16px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  text-align: center;
  li {
    &.active {
      a {
        color: $black-hover-color !important;
      }
    }
    &.ellipsis {
      padding: 0;
    }
  }
}

#footer {
  display: block;
  position: relative;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  background-color: $footer-color;
  border-top: 1px solid $border-color;
  .fa {
    line-height: 1;
    font-size: 20px;
  }
  .copyright {
    color: $black-hover-color;
    line-height: 20px;
    font-size: 14px;
  }
}

.btn {
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -o-touch-action: manipulation;
  -ms-touch-action: manipulation;
  -moz-touch-action: manipulation;
  -webkit-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  @include userselect(none);
  background-image: none;
  border: 1px solid transparent;
  @include border-radius(4px);
  &.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  &.btn-ghost {
    color: #333;
    border-color: #ccc;
    &:focus, &:hover, &:active {
      color: #333;
    }
    &:hover {
      color: $border-color;
    }
  }
  &.btn-primary {
    color: $main-color;
    background-color: #fff;
    border-color: $main-hover-color;
    &:focus, &:hover, &:active {
      background-color: $main-hover-color;
    }
  }
  &.btn-primary-reverse {
    color: #fff;
    background-color: $main-color;
    border-color: $main-hover-color;
    &:focus, &:hover, &:active {
      background-color: $main-hover-color;
    }
  }
  &.btn-radius {
    @include border-radius(2em);
  }
}

@media screen and (max-width: 768px) {
  #header {
    .list-menu {
      display: none;
    }
    .right-menu {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
  #slide-navigator {
    &.active {
      display: block;
    }
    .hamburger {
      display: block;
    }
  }
}

.adsbygoogle { display: block; margin: auto; margin-bottom: 15px; width: 320px; height: 100px; }
@media (min-width:500px) { .adsbygoogle { width: 468px; height: 60px; } }
@media (min-width:800px) { .adsbygoogle { width: 728px; height: 90px; } }

