@import 'variables';

#join-form {
  padding-top: 32px;
  padding-left: 16px;
  .form-control {
    position: relative;
    max-width: 260px;
  }
}

div.join-form {
  padding-left: 16px;
}

.default-input {
  margin-top: 3px;
  width: 100%;
  max-width: 260px;
  line-height: 1.7em;
  font-size: 13px;
}

.form-control {
  margin-bottom: 10px;
  label {
    font-size: 13px;
    letter-spacing: 2px;
  }
  span {
    position: absolute;
    right: 0;
    color: #E63948;
  }
}

a.oauth-login {
  display: block;
  margin-bottom: .6em;
  width: 100%;
  max-width: 260px;
  height: 2.4em;
  line-height: 2.4em;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  border: 1px solid #333;
  @include border-radius(3px);
  clear: both;
  &.facebook {
  }
  &.twitter {
  }
  &.google {
  }
  &.kakao {
    &:hover {
    }
  }
  &.naver {
  }
  &:hover {
  }
}

