@import 'variables';

.post {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid $border-color;
}

.post-title {
  font-size: 36px;
  color: #333;
  cursor: pointer;
  &:active, &:visited, &:focus {
    color: #333;
  }
  &:hover {
    color: $main-color;
  }
  .title {
    margin-bottom: 4px;
    font-weight: 400;
  }
}

.post-summary {
  color: #777;
  font-size: 12px;
  .fa {
    margin-right: 2px;
  }
}

.content {
  margin-bottom: 10px;
  color: #666;
  font-size: 16px;
  font-weight: 200;
}

.category-name {
  display: inline-block;
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.1em;
  color: #777 !important;
  font-size: 12px;
  border-bottom: 1px solid #777;
  // @include border-radius(10px);
}

.post-writed {
  line-height: 1.1em;
  border-bottom: 1px solid transparent;
}

.post-background-preview {
  position: relative;
  margin-top: 75px;
  .guide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 13px;
    text-align: center;
    z-index: 3;
  }
  img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 5;
    &[src=''] {
      display: block;
      position: relative;
      padding: 20.93%;
      height: 0;
      line-height: 2;
      font-weight: 300;
      text-align: center;
      z-index: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -o-opacity: 0;
      -ms-opacity: 0;
      -moz-opacity: 0;
      -khtml-opacity: 0;
      -webkit-opacity: 0;
      opacity: 0;
    }
  }
  input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20.93%;
    width: 100%;
    height: 0;
    line-height: 2;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    z-index: 9;
  }
}

#post {
  .category {
    color: #333;
    font-size: 16px;
  }
  .title {
    margin-bottom: 40px;
    font-size: 4em;
    .created-at {
      font-size: .3em;
      letter-spacing: 1px;
    }
  }
  .html {
    font-size: 14px;
  }
  .managing-buttons {
    margin-top: 32px;
  }
}

.tags {
  margin-top: 32px;
  font-size: 12px;
  span.tag {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    line-height: 1.5em;
    color: #333;
    font-size: 12px;
    letter-spacing: 1px;
  }
  input {
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
    line-height: 1.5em;
    font-size: 12px;
  }
  a.tag {
    display: inline-block;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
  }
}

#comments {
  margin-top: 24px;
  #comments-title {
    margin-top: 16px;
    color: $black-hover-color;
    font-size: 16px;
    letter-spacing: 2px;
    span {
      color: $sub-color;
    }
  }
}

#comment-area-wrapper {
  display: block;
  position: relative;
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
  height: 6em;
  font-size: 14px;
  #comment-area {
    display: block;
    padding: .5em;
    width: 100%;
    height: 6em;
    font-size: 14px;
    border-color: $main-color;
    resize: none;
    &[disabled="disabled"] {
      font-weight: 400;
      color: $gray-color;
    }
  }
  button {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.comment-infos {
  margin-bottom: 1em;
  padding-bottom: 1em;
  color: $black-hover-color;
  font-size: 13px;
  border-bottom: 1px solid $border-color;
  .comment-user {
    color: $sub-color;
    font-weight: 500;
  }
  .comment-date {
    color: $gray-color;
  }
  .comment-text {
  }
}

form {
  #title {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    line-height: 1.7em;
    font-size: .5em;
  }
  textarea {
    display: block;
    padding: .5em;
    width: 100%;
    height: 20em;
    border-color: $border-color;
    font-size: 14px;
    resize: none;
  }
}

.post-thumbnail-preview {
  position: relative;
  width: 125px;
  height: 125px;
  * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .guide {
    z-index: 3;
  }
  .thumbnail-image {
    width: 125px;
    height: 125px;
    z-index: 5;
    &[src=''] {
      display: block;
      position: relative;
      z-index: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -o-opacity: 0;
      -ms-opacity: 0;
      -moz-opacity: 0;
      -khtml-opacity: 0;
      -webkit-opacity: 0;
      opacity: 0;
    }
  }
  #thumbnail-image {
    width: 125px;
    height: 125px;
    z-index: 9;
  }
}

.new-post-wrapper {
  padding-bottom: 16px;
  height: 52px;
  input, select {
    width: 100%;
  }
}

.search-wrapper {
  position: relative;
  margin-bottom: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  input[type="text"], select {
    width: 100%;
  }
  i {
    position: absolute;
    top: 0;
    right: 22.5px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 34px;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
    &:hover {
      color: #e5e5e5;
    }
  }
}

#body-container.show-post {
  padding-top: 75px;
}
