<%- include ../layouts/header %>
<%- include ../commons/header %>
<div id="body-container" class="clearfix fix-in">
  <div class="work-summary">
    <a href="http://ciceron.me"><div class="work-title">Ciceron</div></a>
    <div class="work-says">
      I did Web Development for this project,<br>
      I used jQuery &amp; jQuery UI &amp; HTML5 API (contenteditable) for the Front-end.
    </div>
    <div class="dashed-line"></div>
    <div class="work-period">2016. 05 ~ 2016. 05</div>
  </div>
  <div class="work-results">
    <img class="work-result" src="/images/portfolio/ciceron/ciceron1.png"/>
    <img class="work-result" src="/images/portfolio/ciceron/ciceron2.png"/>
  </div>
</div>
<%- include ../layouts/footer %>

