<%- include ../layouts/header %>
<%- include ../commons/header %>
<div id="body-container" class="clearfix fix-in">
  <div class="work-summary">
    <a href="http://www.goodoc.co.kr" target="_blank"><div class="work-title">GOODOC</div></a>
    <div class="work-says">
      I did Web Development for this project,<br>
      I used 'Ruby on rails' for the Back-end and jQuery &amp; Bootstrap for the Front-end.
      Used Libraries : Google Maps, Google Analytics, Chart JS (Java Script), i18n (Ruby Gem)
    </div>
    <div class="dashed-line"></div>
    <div class="work-period">Year : 2015</div>
    <div class="work-page space-top"><a href="http://www.goodoc.co.kr" target="_blank">Go to Web Site →</a></div>
  </div>
  <div class="work-results">
    <a href="http://www.goodoc.co.kr" target="_blank"><img class="work-result" src="/images/portfolio/goodoc/goodoc_client.png"/></a>
    <a href="http://www.goodoc.co.kr" target="_blank"><img class="work-result" src="/images/portfolio/goodoc/goodoc_japan.png"/></a>
    <a href="http://www.goodoc.co.kr" target="_blank"><img class="work-result" src="/images/portfolio/goodoc/goodoc.png"/></a>
  </div>
</div>
<%- include ../layouts/footer %>

