<%- include ../layouts/header %>
<%- include ../commons/header %>
<div id="body-container" class="clearfix">
<div id="get-insta-feed"></div>
</div>
<%- include ../commons/footer %>
<%- include ../layouts/footer %>

