<%- include ../layouts/header %>
<%- include ../commons/header %>
<div id="body-container" class="clearfix">
  <h1>WORKS</h1>
  <div class="works">
    <a class="work" href="/portfolio/goodoc">
      <img class="work-image left" src="/images/portfolio/goodoc.png"/>
      <div class="work-description right">
        <div class="work-name">GOODOC</div>
        <div class="work-role">Front-End / Back-End</div>
      </div>
    </a>
    <a class="work none" href="/portfolio/goodoc">
      <img class="work-image right" src="/images/portfolio/goodoc.png"/>
      <div class="work-description left">
        <div class="work-name">GOODOC</div>
        <div class="work-role">Front-End / Back-End</div>
      </div>
    </a>
  </div>

  <h1>Skills</h1>
  <div class="skills">
    <div class="skill-pool clearfix">
      <h2>Tools</h2>
      <img class="skill" src="/images/portfolio/vim.png"/>
    </div>
    <div class="skill-pool clearfix">
      <h2>Version Control</h2>
      <img class="skill" src="/images/portfolio/github.png"/>
    </div>
    <div class="skill-pool clearfix">
      <h2>Front-End</h2>
      <img class="skill" src="/images/portfolio/html.png"/>
      <img class="skill" src="/images/portfolio/css.png"/>
      <img class="skill" src="/images/portfolio/js.png"/>
      <img class="skill" src="/images/portfolio/sass.png"/>
      <img class="skill" src="/images/portfolio/coffee.png"/>
    </div>
    <div class="skill-pool clearfix">
      <h2>Back-End</h2>
      <img class="skill" src="/images/portfolio/node.png"/>
      <img class="skill" src="/images/portfolio/rails.png"/>
    </div>
    <div class="skill-pool clearfix">
      <h2>Data Base</h2>
      <img class="skill" src="/images/portfolio/mysql.png"/>
    </div>
  </div>
</div>
<%- include ../commons/footer %>
<%- include ../layouts/footer %>

